.post-likebox > button {
    font-size: 0.8rem;
}

.post-likebox > button:first-child {
    margin-right: 5px;
}

.post-likebox > button:focus {
    box-shadow: none;
}

.post-commentbox {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    font-size: 1rem;
}

.post-commentbox .comment {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 10px;
}
