// Post Like Box

.post-likebox > button {
    font-size: 0.8rem;
}

.post-likebox > button:first-child {
    margin-right: 5px;
}

.post-likebox > button:focus {
    box-shadow: none;
}

// Post Comment Box

.post-commentbox {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    font-size: 1rem;
}

// Comment Reply Box

.post-commentbox .comment .reply,
.post-commentbox .comment .comment-edit-box,
.post-commentbox .comment .reply-edit-box {
    display: none;
}

.post-commentbox .comment .reply:last-child {
    margin-bottom: 0px;
}

// Comment/Reply Border

.post-commentbox .comment,
.post-commentbox .reply {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 10px;
}

// Comment/Reply Action Box

.comment-actionbox a,
.reply-actionbox a,
.post-actionbox a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
}

.comment-actionbox a > span.action-text:hover,
.reply-actionbox a > span.action-text:hover,
.post-actionbox a > span.action-text:hover {
    text-decoration: underline !important;
}

// Highlight Text

.little-bold {
    text-shadow: 0px 0px 1px #5e666d73;
}

.font-underline {
    text-decoration: underline;
}